src/main/resources/wsdl/user.xsd

<!-- src/main/resources/wsdl/user.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soap/crud"
           xmlns:tns="http://example.com/soap/crud"
           elementFormDefault="qualified">

    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="name" type="tns:NameType"/>
            <xs:element name="email" type="tns:EmailType"/>
            <xs:element name="phone" type="tns:PhoneType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Name: 2–50 chars, letters & spaces -->
    <xs:simpleType name="NameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="50"/>
            <xs:pattern value="[A-Za-z\s\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Email: RFC-compliant -->
    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Phone: +94 or 10 digits -->
    <xs:simpleType name="PhoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\+94[0-9]{9})|([0-9]{10})"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- CRUD Operations -->
    <xs:element name="CreateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="tns:NameType"/>
                <xs:element name="email" type="tns:EmailType"/>
                <xs:element name="phone" type="tns:PhoneType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Add GetUserRequest, UpdateUserRequest, DeleteUserRequest similarly -->
</xs:schema>